/* Sorts the variable $list_to_sort and prints the sorted list in the debug output */

$list_to_sort: john anna zoe kim felicia carrie;

@function custom-sort($list) {
  $sorted-list: ();
  @each $item in $list {
    $sorted-list: append($sorted-list, $item);
  }
  @return sort($sorted-list);
}

$list_sorted: custom-sort($list_to_sort);

@debug $list_sorted;
